 <!DOCTYPE html>
 <html>
 <head>
   <title></title>
 </head>
 <body>
 <form >
  from:<br>
   <input type="text" name="from"><br>
   to:<br>
 <input type="text" name="to"><br>
 date:<br>
 <input type="date" name="date"><br>
  <input type="submit" value="Submit">
</form>
</body>
 </html>     